@import 'font';
@import 'login';
@import 'navigation';
@import 'footer';
@import 'trand';
@import 'explore';

html, body, #root, .page-container {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.vertical-space {
  height: 5rem;
}

#root {
  margin: 0 250px;
}
