.banner {
  position: relative; }
  .banner img {
    width: 100%;
    height: auto; }

.info-text {
  width: 70%;
  margin: 0 auto;
  font-size: 1.3rem;
  line-height: 2;
  color: #7A7C81; }

.tout-container {
  display: flex;
  position: relative; }
  .tout-container div {
    flex: 1; }
    .tout-container div img {
      width: 100%;
      height: auto; }
  .tout-container .tout-text {
    position: relative;
    padding: 25px;
    line-height: 3; }
    .tout-container .tout-text h1 {
      line-height: 1; }

.video-content {
  margin-bottom: -5px; }
  .video-content .video {
    outline: none;
    width: 100%;
    height: 30rem;
    object-fit: cover; }

.comment-head {
  padding: 39px;
  background-color: #6648CD;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  position: relative; }
  .comment-head div {
    position: absolute;
    width: 50rem;
    top: 4rem;
    right: 10rem;
    text-align: right;
    font-size: 15px; }
    .comment-head div li {
      display: inline-block;
      padding: 5px; }

.comment-section {
  display: flex;
  justify-content: center;
  background-color: #EEEEF2;
  flex-direction: column; }
  .comment-section .comment-container {
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    padding: 25px;
    margin: 2rem 0 1rem 8rem;
    width: 70%; }
    .comment-section .comment-container::after {
      content: "";
      clear: both;
      display: table; }
    .comment-section .comment-container img {
      float: left;
      max-width: 60px;
      width: 100%;
      margin-right: 20px;
      border-radius: 50%; }
    .comment-section .comment-container .time-right {
      float: right;
      color: #aaa; }
  .comment-section .textbox-container {
    width: 70%;
    background-color: #EEEEF2;
    padding: 25px;
    margin: 2rem 0 1rem 8rem;
    border: none; }
    .comment-section .textbox-container::after {
      content: "";
      clear: both;
      display: table; }
    .comment-section .textbox-container img {
      float: left;
      max-width: 60px;
      width: 100%;
      margin-right: 20px;
      border-radius: 50%; }
    .comment-section .textbox-container .textbox {
      height: 4rem;
      width: 50%;
      border-radius: 50px;
      border: none;
      font-size: 1.2rem;
      padding-left: 25px;
      outline: none; }
    .comment-section .textbox-container .button {
      padding: 19px;
      width: 8rem;
      border: none;
      background-color: #6648CD;
      border-radius: 50px;
      color: white;
      font-size: 1.4rem;
      outline: none;
      cursor: pointer;
      margin-left: 20px; }
